* {
    font-family:Verdana, Arial, sans-serif;
    color:peru
}

h3>a {
    color: coral;
    font-weight: bold;
}

h1 {
    color:maroon;
    font-size: xx-large;
    font-weight: bold;
}

.items {
    background-color: maroon;
    color:gainsboro;
}

.items2{
    background-color: maroon;
    color:rgb(181, 182, 142)
}