* {
    font-style: Verdana, Arial, sans-serif;
    color:peru
}

h1{
    background-color: saddlebrown;
    border-radius: 5px;
    padding: 0px 10px;
    color: rgb(216, 204, 189);
    width: 50%;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 5px 25px;
}

div>p{
    font-weight: bold;
    font-size: large;
}

p{
    margin-top: 0px;
}

.relleno {
    margin-bottom: 0px;
    font-weight: normal;
}

iframe{
    align-self: center;
}